body {
  background-color: rgb(13, 17, 23);
}

.container,
.overlay,
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container, canvas {
  height: 600px;
}

.overlay {
  height: 800px;
  border: 150px solid rgb(13, 17, 23);
  border-radius: 50%;
  z-index: 5;
}